<%= javascript_include_tag "show.js" %>
<%= link_to "ルーム一覧に戻る", root_path %>
<h1>チャットルーム</h1>
<h2></h2>

<p></p>
<div id='messages' data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>


@<%= @current_user %>
<%# jsにcurrent_userのデータを渡している %>
<input name="current_user" type="hidden" value="<%= @current_user %>" class="current_user">
<input name="current_user_id" type="hidden" value="<%= @current_user.id %>" class="current_user_id">
<input name="current_user_name" type="hidden" value="<%= @current_user.name %>" class="current_user_name">
<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>